<!DOCTYPE html><!-- tipo de html-->
<html lang="pt-br"><!--  lingua do texto para o navegador-->
<head><!-- cabeçalho -->
    <meta charset="UTF-8"> <!-- tipo de caractere do texto-->
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <!-- Ela é responsavel por fazer aplicação do @media-->
    <title>Happy</title> <!-- nome que aparece na aba do navegador -->
    <link rel="icon" href="/images/logo-icon.png">  <!-- tipo de link e onde ele vai pegar esse imagem-->
    <link rel="stylesheet" href="/css/main.css"> <!-- link para o estilo do css-->
    <link rel="stylesheet" href="/css/animations.css"> <!-- link para o estilo do css animação-->
    <link rel="stylesheet" href="/css/page-landing.css"> <!-- link para o estilo do css pagina-->
    <link href="https://fonts.googleapis.com/css2? family = Nunito: wght @ 400; 600; 800 & display = swap"
          rel="stylesheet">
    <!-- link para a fonte-->

</head>
<body><!-- parte branca do site -->
<div id="page-landing"><!--primeira caixa com um id-->
    <div id="conteiner"><!--segunda caixa com um id-->
        <header>
            <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logomarca do Happy">
            <!-- a onde ele vai buscar a imagem e a descrição da imagem -->
            <div class="location animate-up"> <!-- dois estilos sendo aplicado nessa div-->
                <strong> Maranhão </strong><!-- negrito -->
                <p> São Luis </p> <!--paragrafo back-end esta enviando essa informação -->
            </div>
        </header>

        <main><!-- a parte principal -->
            <h1> Leve Felicidade para o Mundo</h1> <!--titulo -->
            <section class="visit"><!-- onde seleciona -->
                <p class="animate-up"> Visite orfanatos e mude o dia de várias crianças</p>
                <a class="animate-up" href="/orphanages" title="Visite orfanatos">
                    <!-- um link para o botão e a descrição do botão quando passar o mouse-->
                    <img src="/images/arrow.svg" alt="Ir para o mapa"><!-- a imagem do botão e a descrição -->
                </a>
            </section>
        </main>
    </div>
</div>

</body>
</html>